In [78]:
import os
import numpy as np
import pandas as pd

In [79]:
# 設定 data_path, 並讀取 app_train
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [80]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [81]:
# 先進行Label Encoding 
# sub_train 是 dataframe、 .values 之後會變成 ndarray
from sklearn.preprocessing import LabelEncoder
sub_train.values[:,0] = LabelEncoder().fit_transform(sub_train.values[:,0])
sub_train.head()

  WEEKDAY_APPR_PROCESS_START
0                          6
1                          1
2                          1
3                          6
4                          4

In [82]:
# 再使用OneHotEncoder
# head 是給 dataframe 使用的函式，因已把sub_train改為ndarray 
# 所以不再是 dataframe 的型態
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder(categorical_features = [0])
sub_train = onehotencoder.fit_transform(sub_train).toarray()
print(sub_train.shape)
sub_train

(307511, 7)

array([[ 0.,  0.,  0., ...,  0.,  0.,  1.],
       [ 0.,  1.,  0., ...,  0.,  0.,  0.],
       [ 0.,  1.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  1.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  1.],
       [ 0.,  0.,  0., ...,  1.,  0.,  0.]])